.table-basic{
    width: fit-content;
    height: 100%;
}
.table-basic thead tr {
    text-align: left;
    background-color: #def4f5;
    font-size: 18px;
}
.table-basic thead tr th,
.table-basic tbody tr td{
    padding: 15px 20px;
}
.table-basic tbody tr:nth-child(odd) {
    background-color: #f7f7f8;
}

.table-basic tbody tr:nth-child(even):hover {
    background-color: #f7f7f1;
}
